@{
    ViewData["Title"] = "Home Page";
}
<partial name="Banner" />
<hr />
<button id="loadAjax" class="btn btn-sn btn-primary">Click load từ partialResult</button>
<hr />
<div id="data-from-ajax" class="row">Loading data...</div>

@section Scripts {
    <script>
        $('#loadAjax').click(function(){
            $('#data-from-ajax').load("/Book/PopularBook");
        })
    </script>
}