﻿<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/dist/img/logo4.1.png" alt="AdminLTELogo" height="200" width="200" style="border-radius:6rem">
</div>
