<div class="preloader flex-column justify-content-center align-items-center"
     style="margin: 0; padding: 0; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <img class="animation__shake" src="~/dist/img/logo4.1.png" alt="AdminLTELogo"
         height="200" width="200" style="border-radius:6rem">
</div>
