@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Quản lý sản phẩm</h2>
<table>
    <thead>
        <tr style="margin 20px">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Product 1</th>
            <th>500.000 đ</th>
            <th>25-12-20020</th>
            <th"><img src="./images/products/ip16.jpg"; style="width 10px; height 10px"</th>
            <th>View</th>
        </tr>
    </tbody>
</table>