@model QuanLyVienPhi.Models.ChiTietThuoc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Create</h1>

<h4>ChiTietThuoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BenhNhanId" class="control-label"></label>
                <select asp-for="BenhNhanId" class ="form-control" asp-items="ViewBag.BenhNhanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label"></label>
                <input asp-for="Cccd" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ThuocId" class="control-label"></label>
                <select asp-for="ThuocId" class ="form-control" asp-items="ViewBag.ThuocId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TienThuoc" class="control-label"></label>
                <input asp-for="TienThuoc" class="form-control" />
                <span asp-validation-for="TienThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#BenhNhanId").change(function () {
                var benhNhanId = $(this).val();
                if (benhNhanId) {
                    $.ajax({
                        url: '/Admins/ChiTietThuocs/GetCCCD',
                        type: 'GET',
                        data: { id: benhNhanId },
                        success: function (cccd) {
                            if (cccd) {
                                $("#Cccd").val(cccd);
                            } else {
                                $("#Cccd").val('');
                            }
                        }
                    });
                } else {
                    $("#Cccd").val('');
                }
            });

            $("#ThuocId, #SoLuong").change(function () {
                var thuocId = $("#ThuocId").val();
                var soLuong = $("#SoLuong").val();

                if (thuocId && soLuong) {
                    $.ajax({
                        url: '/Admins/ChiTietThuocs/GetDonGia',
                        type: 'GET',
                        data: { id: thuocId },
                        success: function (donGia) {
                            if (donGia) {
                                var tienThuoc = soLuong * donGia;
                                $("#TienThuoc").val(tienThuoc.toFixed(2));
                            }
                        }
                    });
                }
            });
        });
    </script>


}
